- title :edit, Cmtool::NewsletterSubscription
= render 'form', :submit => update_button_text(@newsletter_subscription)

- content_for :page_links do
  %ul
    %li= link_to link_to_show_content(@newsletter_subscription), cmtool.newsletter_subscription_path(@newsletter_subscription)

    %li= link_to link_to_index_content(Cmtool::NewsletterSubscription), cmtool.newsletter_subscriptions_path
