@import 'bourbon'

html, body
  background-color: #eee
  font-family: $lucida-grande
.button
  @include button(shiny, #777)
a
  color: #333
  font-weight: bold
  text-decoration: none
  &:hover
    text-decoration: underline
.clear
  clear: both

.field
  clear: left
  &>label
    width: 202px
    float: left
  &>.field_with_errors
    float: left
    label
      width: 202px
      float: left
      color: red
    input
      border: 1px solid red
#page-wrapper
  width: 972px
  margin: 40px auto 10px auto
  #sub-navigation-container
    ul
      list-style: none
      margin: 0
      padding: 0
      li
        @include linear-gradient(#2989d8, #1e5799)
        float: left
        margin-right: 10px
        padding: 3px 6px
        +border-bottom-radius(5px)
  #title-container
    @include linear-gradient(#aaa, #fff)
    padding: 10px
    +border-top-radius(15px)
    +box-shadow(5px 5px 5px #555)
    h1
      margin: 0
      padding: 0
  #content-container
    background-color: white
    +border-bottom-radius(15px)
    +box-shadow(5px 5px 5px #555)
    #content
      padding: 10px
