@import 'bourbon'

html, body
  background-color: #eee
  font-family: $lucida-grande
.button
  @include button(shiny, #777)
a
  color: #333
  font-weight: bold
  text-decoration: none
  &:hover
    text-decoration: underline
.clear
  clear: both

.field
  clear: left
  &>label
    width: 202px
    float: left
  &>.field_with_errors
    float: left
    label
      width: 202px
      float: left
      color: red
    input
      border: 1px solid red
#page-wrapper
  width: 972px
  margin: 10px auto
  background-color: white
#menu-container
  @include linear-gradient(#1e5799, #2989d8)
  clear: both
  padding: 10px
  ul
    margin: 0
    padding: 0
    list-style: none
    li
      float: left
      margin-right: 9px
      padding: 5px 4px
      background-color: white
      &.parent:hover> ul
        display: block
      .child-menu
        display: none
        position: absolute
        z-index: 10000
        margin-left: -5px
        margin-top: 4px
        li
          float: none
      &.ui-state-active .child-menu li.ui-state-default a
        color: #1C94C4
#sub-navigation-container
  ul
    list-style: none
    li
      float: left
      margin-right: 10px
