.collapsible-container
  .collapsible-title
    font-size: 1.4em
    font-weight: bold
    cursor: pointer
    span
      &:before
        content: "\25BC"
        margin-right: 0.5em
  &.collapsed
    .collapsible-title
      span
        &:before
          content: "\25B6"
    .collapsible-content
      display: none
