- title t('cmtool.action.edit.title', :model => Cmtool::Keyword.model_name.human)
= render 'form', :submit => update_button_text(@keyword)

- content_for :page_links do
  %ul
    %li= link_to link_to_show_content(@keyword), cmtool.keyword_path(@keyword)
    %li= link_separator
    %li= link_to link_to_index_content(Cmtool::Keyword), cmtool.keywords_path
