- title t('cmtool.action.new.title', :model => Cmtool::Keyword.model_name.human)

= render 'form', :submit => create_button_text(@keyword)

- content_for :page_links do
  %ul
    %li= link_to link_to_index_content(Cmtool::Keyword), cmtool.keywords_path
