- title t('action.new.title', :model => Cmtool::News.model_name.human)

= render 'form', :submit => create_button_text(@news)

- content_for :page_links do
  %ul
    %li= link_to link_to_index_content(Cmtool::News), cmtool.news_index_path
