%p= "Hallo #{@resource.email}!"
%p Er is een nieuw wachtwoord voor je aangevraagt. Dit kan je bevestigen door naar de onderstaande link te gaan.
%p= link_to 'Wijzig wachtwoord', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Als deze aanvraag niet van jou is kan je deze email negeren. Het wachtwoord wordt niet gewijzigd zonder dat de bovenstaande link gebruikt wordt.
%p Met vriendelijke groet,
%p Het ATool team
