- title :edit, Cmtool::ContactForm
= render 'form', :submit => update_button_text(@contact_form)

- content_for :page_links do
  %ul
    %li= link_to link_to_show_content(@contact_form), cmtool.contact_form_path(@contact_form)
    %li= link_separator
    %li= link_to link_to_index_content(Cmtool::ContactForm), cmtool.contact_forms_path
