- title t('action.edit.title', :model => Partner.model_name.human)
= render 'form', :submit => update_button_text

- content_for :page_links do
  %ul
    %li= link_to link_to_show_content(@partner), [:admin, @partner]
    %li= link_separator
    %li= link_to link_to_index_content(:partner), admin_partners_path
