- title t('action.new.title', :model => Partner.model_name.human)

= render 'form', :submit => create_button_text

- content_for :page_links do
  %ul
    %li= link_to link_to_index_content(:partner), admin_partners_path
