- title t('action.new.title', :model => Customer.model_name.human)

= render 'form', :submit => create_button_text

- content_for :page_links do
  %ul
    %li= link_to link_to_index_content(:customer), admin_customers_path
